
<header class = "flex justify-center items-center py-5 m-0 w[1120px] mx-auto">
   
<nav class="flex flex-row gap-x-5">

    <a href="/">Home</a>
    <a href="">About</a>
    <a href="">project</a>
    <a href="">contact</a>

</nav>

</header >